
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@500&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


.logo{
  display: flex;
  float: left;
  margin-left: 15%;
}
.right-but{
  display: flex;
  float: right;
  margin-right: 30%;
}
.main-nav{
  margin-top: 15px;
  width: 80%;
  height: 60px;
    /* background-color: aqua; */
}
.login{
  font-size: 20px;
width: 125px;

height: 35px;
text-align: center;
padding-top: 5px;
border: 2px solid #ECECEC;
border-radius: 2px;
opacity: 1;
}

.get-app{
  margin-left: 50px;
  margin-right: -350px;
  /* padding: 10px 50px; */
  color: #ffffff;
  width: 125px;
  text-align: center;
  padding-top: 7px;
  font-size: 20px;

  background: #0F6AF4 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

}

.text-intro-1{
  
  font-family: 'Roboto', sans-serif;text-align: left;
font-weight: bold;
letter-spacing: 2.88px;
color: #08121C; 
font-size: 18px;
opacity: 1;
}

.intro-main{
  margin-top: 6%;
  width: 100%;
  margin-left: 12%;
  height: 1080px;
  opacity: 1;
  }

  .Container1{
    background: transparent url("images/introbg.png") no-repeat;
  background-position: 100%;
  background-size: 100%;
  height: 900px;
  }

  .mid-img-intro{
    display: flex;
    margin-top: 15%;
    float: right;
    margin-right: 13%;
    width: 690px;
    height: 448px;
    background: transparent url('images/intromob.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  
  }
  
.text-intro-2{
  width: 414px;
  height: 103px;
  /* UI Properties */
  text-align: left;
  font: normal normal 900 78px/142px Roboto;
  letter-spacing: 1.56px;
  color: #4472F1;
  opacity: 1;
  padding-bottom:10px ;
}
.text-intro-3{
 

width: 555px;
height: 268px;

text-align: left;
font: normal normal normal 30px/50px Roboto;
letter-spacing: 0.6px;
color: #08121C;
opacity: 1;
margin-top: 50px;
font-weight: 200;
}
